

.container  {
    text-align: center;
    margin-top: 75px;
}
.purple{
    background-color:rgba(154, 138, 171, 0.801);
    color: rgb(69, 46, 111);
    }

#view-highscores{
    color: rgb(154,138,171);
}
#start-quiz {
    background-color: rgb(69, 46, 111);
}

#submit {
    background-color: rgb(69, 46, 111);
}

#questions-section {
    text-align: left;
    font-size: 32px;
    font-weight: bold;
}
#answers-section .btn{
    display: block;
    background-color: rgb(69, 46, 111);
    margin-top: 5px;
    margin-bottom: 5px;
}

#go-back{
    background-color: rgb(69, 46, 111);
}

#clear-scores {
    background-color: rgb(69, 46, 111);
}

